body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: #ccc;
}

figure {
    margin: auto;
}

.content article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}

.header-box {
    position: relative;
    height: 600px;
    background-image: url(/images/abstractbg.jpg);
    background-size: auto 600px;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo {
    height: 100px;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 80pt;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.front-image {
    width: 960px;
    height: 733px;
    background-size: 250px;
    background-image: url(/images/new_biohazard_logo_by_grandmaster13-d4h8tdg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    top: -100px;
}

.back-image {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    width: 960px;
    height: 298px;
    background-image: url(/images/biohazard_picture.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 50%;
    margin-left: -480px;
}